<p id="notice"><%= notice %></p>

<h1>Indications</h1>

<table>
  <thead>
    <tr>
      <th>Who</th>
      <th>Region</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @indications.each do |indication| %>
      <tr>
        <td><%= indication.who %></td>
        <td><%= indication.region.name %></td>
        <td><%= link_to 'Show', indication %></td>
        <td><%= link_to 'Edit', edit_indication_path(indication) %></td>
        <td><%= link_to 'Destroy', indication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Indication', new_indication_path %>
