<%= form_with(model: prospection, local: true) do |form| %>
  <% if prospection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prospection.errors.count, "error") %> prohibited this prospection from being saved:</h2>

      <ul>
      <% prospection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.select :customer_id, Customer.all.collect { |c| [c.name, c.id] } %>
  </div>

  <div class="field">
    <%= form.select :product_id, Product.all.collect { |p| [p.name, p.id] } %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :prospection_value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
