<!-- Static navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'pKails', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <%= link_to_in_li 'Home', root_path %>
        <%= link_to_in_li 'Prospections', prospections_path %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <%= link_to_in_li 'Users', users_path %>
            <%= link_to_in_li 'Customers', customers_path %>
            <%= link_to_in_li 'Representatives', representatives_path %>
            <%= link_to_in_li 'Indications', indications_path %>
            <%= link_to_in_li 'Regions', regions_path %>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <%= link_to_in_li 'Proposal Statuses', proposal_statuses_path %>
            <%= link_to_in_li 'Reasons', reasons_path %>
            <%= link_to_in_li 'Activities', activities_path %>
            <%= link_to_in_li 'Products', products_path %>
            <%= link_to_in_li 'Departments', departments_path %>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
        <li><a href="../navbar-static-top/">Static top</a></li>
        <li><a href="../navbar-fixed-top/">Fixed top</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
