<h1>Welcome</h1>
<p><%= link_to 'Prospections', prospections_path %></p>
<p><%= link_to 'Users', users_path %></p>
<p><%= link_to 'Customers', customers_path %></p>
<p><%= link_to 'Representatives', representatives_path %></p>
<p><%= link_to 'Indications', indications_path %></p>
<p><%= link_to 'Regions', regions_path %></p>
<p><%= link_to 'Proposal Statuses', proposal_statuses_path %></p>
<p><%= link_to 'Reasons', reasons_path %></p>
<p><%= link_to 'Activities', activities_path %></p>
<p><%= link_to 'Products', products_path %></p>
<p><%= link_to 'Departments', departments_path %></p>
