<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :customer_name %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company, id: :customer_company %>
  </div>

  <div class="field">
    <%= form.label :cnpj %>
    <%= form.text_field :cnpj, id: :customer_cnpj %>
  </div>

  <div class="field">
    <%= form.label :ie %>
    <%= form.text_field :ie, id: :customer_ie %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :customer_email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :customer_phone %>
  </div>

  <div class="field">
    <%= form.label :mobile %>
    <%= form.text_field :mobile, id: :customer_mobile %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :customer_address %>
  </div>

  <div class="field">
    <%= form.label :neighborhood %>
    <%= form.text_field :neighborhood, id: :customer_neighborhood %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :customer_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :customer_state %>
  </div>

  <div class="field">
    <%= form.label :zipcode %>
    <%= form.number_field :zipcode, id: :customer_zipcode %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
